node_modules/
.vscode/
cert/

package-lock.json
.env
config.json

**/**/*.apng
**/**/*.avif
**/**/*.bmp
**/**/*.gif
**/**/*.ico
**/**/*.jpe
**/**/*.jpeg
**/**/*.jpg
**/**/*.png
**/**/*.webp
**/**/*.mp4
**/**/*.webm

**/**/*.txt
**/**/*.zip

**/**/*.pem
**/**/*.crt
**/**/*.cer
**/**/*.cert
**/**/*.key

!views/403.jpg
!views/directory.png
!views/stock.jpg
!views/favicon.ico
!views/robots.txt