<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%= escape(stylesheet) %>" />
    <link rel="icon" type="image/x-icon" href="<%= escape(favicon) %>" />
    <script type="text/javascript" src="<%= script %>"></script>
    <title>Upload</title>
</head>

<body>
    <header class="sticky-header">
        <nav>
            <ul>
                <li><a href="/profile"><button>Profile</button></a></li>
                <li><a href="/stock"><button>My stock</button></a></li>
                <li><a href="/upload"><button>Upload</button></a></li>
                <li><a href="/logout"><button>Logout</button></a></li>
            </ul>
        </nav>
    </header>
    <h1>Upload</h1>
    <main>
        <div id="container">
            <input type="file" id="fileInput" accept="image/apng, image/avif, image/bmp, image/gif, image/vnd.microsoft.icon, image/jpeg, image/png, image/webp, video/mp4, video/webm, application/zip" multiple="multiple">
            <button id="uploadButton">Upload</button>
            <div id="status"></div>
        </div>
    </main>
</body>

</html>